/.claude
/Computer Vision/Covid/X-ray Data.zip
/Pre-Work/COVID Detection/covid_detection_model_deployment_files.zip
/Pre-Work/COVID Detection/tuned_ai_model_best_lat.keras
/Pre-Work/COVID Detection/X-ray Data.zip
/Pre-Work/Airline Customer Sentiment Analysis/airline_sentiment_model_deployment_files.zip
/Neural Networks/Credit Card Fraud Detection Case Study/creditcard.csv
/Neural Networks/Audio MNIST Digit Recognition/Audio_MNIST_Archive.zip
